body{
  font-family: 'Montserrat' , sans-serif;
  font-weight: 400;
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

h1{
  font-family: 'Montserrat' , sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-size: 3rem;
  line-height: 1.5;
  font-family : "Montserrat-bold" , sans-serif;
  font-weight: 600;

}

.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding : 0 0 4.5rem 0;
}

.navbar-brand{
  font-family: 'Ubuntu' , sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  margin-bottom:4%;
}

.extra-navbar-brand{
  font-size: 1.2rem;
  color: #FFD4DA;
}

.features-points{
  text-align: center;
  margin-top : 5rem;
  margin-bottom: 5rem;
}

.h3{
  font-family: 'Montserrat-bold' , sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.features-points-text{
  color: #8f8f8f;
}

.features-icons{
  font-size: 4rem;
  color: #ef8172;
}

.features-icons:hover{
  color: #ff4c68;
}

#testimonials{
  text-align:center;
  background-color: #ef8172;
  color:#fff;
}

.testimonial-image{
  border-radius: 100%;
  width: 15%;
  margin: 3%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding : 6% 15%;
}

#pricing button{
  width: 100%;
}

#pricing{
  padding: 6% 8%;
  text-align: center;
}

.pricing-content{
  padding : 2% 3%;
}

@media (max-width : 1120px) {

  #title{
    text-align: center;
  }

  .title-image{
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  text-align: center;
}

.cta-text{
  color: #fff;
  font-family : "Montserrat-bold" , sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding: 7% 21% 0;
}

#footer{
  text-align: center;
  margin: 5% 5% 4%;
}

#footer i{
  font-size: 1.4rem;
  padding:0 10px 20px;
  line-height: 1.5;
}

#footer a{
  color: black;
}
